<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <div class="container">
    <h1>{{ authors.first_name }} {{ authors.last_name }}</h1>
    <p>ID: {{ authors.id }}</p>
    <p>Description: {{ authors.notes }}</p>
    <p>Authors:</p>
    <ul>
        {% for b in author_book %}
            <li>{{ b.title }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <select name="Book" id="author">
        {% for a in other_book %}
            <option value="{{a.id}}">{{a.title}}</option>
        {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
    </div>
</body>
</html>