<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Books & Authors</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container d-flex">
			<form class="mt-5 w-50" action="/addauthor" method="post">
				<h1 class="ml-5 mb-2">Add an Author</h1>
				<div class="form-group">
					<label for="title">First Name</label>
					<input class="ml-2" type="text" name='fname' />
				</div>
				<div class="form-group">
					<label for="title">Last Name</label>
					<input class="ml-2" type="text" name='lname' />
				</div>
				<div class="form-group d-flex align-items-top">
					<label for="notes">Notes</label>
					<textarea class="ml-5" name="notes" id="desx" cols="30" rows="5"></textarea>
				</div>
				<div class="form-group d-flex justify-content-end w-25">
					<button class="btn btn-light btn-outline-dark" type="submit">Add</button>
				</div>
			</form>
			<table class="table mt-5 w-50 text-center">
				<thead class='text-center'>
					<th>ID</th>
					<th>Name</th>
					<th>Action</th>
				</thead>
				<tbody>
                {% for i in author %}
                    <tr class=''>
					    <td>{{ i.id }}</td>
					    <td>{{ i.first_name }}</td>
					    <td>{{ i.last_name }}</td>
					    <td><a href="{% url 'author' i.id %}">View</a></td>
                    </tr>                
                {% endfor %}
				</tbody>
			</table>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
