body {
    padding: 4em;
    background-color: whitesmoke;
    text-align: center;
}

button {
    margin: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#info {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 110px 0px;
}