/* .form-container {
	display: flex;
} */

.gold-tracker {
	display: block;
	align-items: center;
	justify-content: center;

	height: 50px;
	margin: 20px 0px 0px 20px;
	padding: 5px;
}

.gold-tracker span {
	display: inline-block;
	text-align: left;
	font-weight: 800;
	font-size: 15px;
	width: 150px;
	height: 30px;
	margin-left: 15px;
	padding: 2px 0px 5px 5px;
	border: 2px solid black;
}

.gold-tracker p {
	display: inline-block;
	font-size: 20px;
	height: 20px;
}

.form-group {
	margin: 0px 20px 20px 20px;
	width: 25%;
	height: 0;
	padding-bottom: 20%;
}

.log {
	display: block;
	text-align: left;
	white-space: pre;
	height: 200px;
	margin: 0px 0px 0px 5px;
	overflow-y: scroll;
	resize: none;
}
