<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Add New Recipe</h1>
            <span>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </span>
        </header>
        {% with messages = get_flashed_messages() %}   
            {% if messages %}                           
                {% for message in messages %}            
                <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/recipes/create" method="POST">
            <label for="name">Name: </label><br>
            <input type="text" name="name"><br>
            <label for="description">Description: </label><br>
            <input type="text" name="description"><br>
            <label for="instructions">Instructions: </label><br>
            <input type="text" name="instructions"><br>
            <label for="date">Date Made On: </label><br>
            <input type="date" name="date"><br>
            <p>Under 30 Minutes?</p>
            <label for="Y">Yes</label><br>
            <input type="radio" id="Y" name="thirtymin" value="Y" checked><br>
            <label for="N">No</label><br>
            <input type="radio" id="N" name="thirtymin" value="N"><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>