<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Welcome {{user.first_name}}</h1>
            <span>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </span>
        </header>
        <div>
            {% with messages = get_flashed_messages() %}   
                {% if messages %}                           
                    {% for message in messages %}            
                    <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>{{recipe.name}}</h1>
            <table>
                <tr>
                    <td>Description: </td>
                    <td>{{recipe.description}}</td>
                </tr>
                <tr>
                    <td>Under 30 minutes: </td>
                    {% if recipe.thirtymin == 'Y' %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Instructions: </td>
                    {{recipe.instructions}}
                </tr>
                <tr>
                    <td>Date Made: </td>
                    <td>{{recipe.date}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>